* {
    box-sizing: border-box;
    border: 1px solid white;}
body {
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }
  .nav-list {
    align-items: left;
    position: fixed;
    list-style: none;
    width: 15px;
    padding-inline-start: 10px;
    
  }
.head {
  display: flex;
  justify-content: center;
  flex-direction: row;
}  

h1.head{
  font-size: 30px;
  font-weight: 900;
}


h2.head{
  font-size: 15px;
  font-style: oblique;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .section {
    width: 100%;
  }

.container {
        max-width: 500px;
        margin: 0 auto;
}


.nav-link {
    padding: 0 0px;
     /* line-height: 30px;  */
  }


body {font-family: 'Quicksand', sans-serif;}

@media (max-width: 750px) {
    
        .nav-list {
            align-items: center;
            position: static;
            display: flex;
            /* flex-wrap: wrap; */
            flex-direction: row;
            
         }
}